<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- 数据库参数 -->
    	<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_test?serverTimezone=GMT</property>
    	<property name="hibernate.connection.username">root</property>
    	<property name="hibernate.connection.password">123456</property>
    	
    	<property name="show_sql">true</property>
    	<property name="format_sql">true</property>
    	
    	<property name="hbm2ddl.auto">update</property>
    	<property name="hibernate.autoReconnect">true</property>
    	
    	<property name="hibernate.max_fetch_depth">3</property>
    	
  	    		<!-- 对于关键字，自动加引号 -->
    	<property name="hibernate.auto_quote_keyword">true</property>
		<property name="hibernate.globally_quoted_identifiers">true</property>

		<!-- hibernate搜索 -->
		<property name="hibernate.search.enabled">true</property>
		<!-- elasticsearch, lucene -->
		<property name="hibernate.search.backend.type">elasticsearch</property>

		<!-- lucene -->
		<!--		<property name="hibernate.search.backend.directory.type">local-filesystem</property>-->
		<!--		<property name="hibernate.search.backend.directory.root">d://data//hibernate-index</property>-->
		<!--		<property name="hibernate.search.backend.directory.filesystem_access.strategy">auto</property>-->
		<!--		<property name="hibernate.search.backend.directory.locking.strategy">none</property>-->
<!--		<property name="hibernate.search.backend.analysis.configurer">com.github.yanghf2000.analyzer.ChineseAnalysisLucenceConfigurer</property>-->

		<!-- elasticsearch -->
		<property name="hibernate.search.backend.protocol">http</property>
		<property name="hibernate.search.backend.hosts">localhost:9200</property>
		<property name="hibernate.search.backend.username">elastic</property>
		<property name="hibernate.search.backend.password">123456</property>
		<property name="hibernate.search.backend.analysis.configurer">com.github.yanghf2000.analyzer.ChineseAnalysisElasticsearchConfigurer</property>
		<!-- hibernate search 6.1.0要加上此配置，否则起动报错
			Validation of the existing index in the Elasticsearch cluster failed. See below for details.
				attribute 'max_result_window':
					failures:
					  - Invalid value. Expected '10000', actual is '2147483647' -->
		<property name="hibernate.search.backend.schema_management.settings_file">resources/index-settings.json</property>

    </session-factory>
</hibernate-configuration>
